@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.hamburger {
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
}
.line {
    background-color: #fff;
    height: 3px;
    width: 100%;
    border-radius: 5px;
}

.nav-links {
    display: none;
    list-style: none;
    padding: 0;
}

.nav-links.active {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: var(--cor-primaria);
    padding: 20px;
    border-radius: 8px;
}
.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.titulo-destaque{
    color: var(--cor-terciaria);
}

.carousel-buttons{
        padding-top: 14px;
}

.carousel-indicators {
    position: absolute;
    bottom: 25px; 
  }
  

.carousel-indicators [data-bs-target] {
    background-color: var(--cor-secundaria);
  }
  
  .carousel-indicators .active {
    background-color: var(--cor-primaria);
  }
  
  
.btn {
    background-color: var(--cor-terciaria);
    margin-left: 35%;
    align-items: center;
   
}
.btn-secondary{
    margin-left: 2%;
}

.btn:hover{
    background-color: #2290FD;
}

.carousel-caption h5 {
    position: absolute;
    bottom: -25px; /* Ajuste este valor para mover o texto para cima ou para baixo */
    left: 5%;
    right: 5%;
  }
  

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}
.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
}

.apresentacao__links__icon{
    width: 16%;
    padding-left: 7%;

}

.apresentacao__imagem{
    width: 50%;
    border: solid white;
    border-radius: 5px;
}

.imagem__item{
    width: 50%;
    padding-left: 25%;
}

#certificado{
    width: 100%;
}


.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .btn {
        background-color: var(--cor-terciaria);
        margin-left: 25%;
        align-items: center;
       
    }
    .btn-secondary{
        margin-left: 2%;
    }
    .cabecalho__menu{
        display: none;
        gap: 80px;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        
    }
    .hamburger {
        display: flex;
    }
    .apresentacao__links__icon{
        padding-right: 14px;
        width: 15%;
        padding-left: 7%;
    
    }.apresentacao__links__navegacao{
        display: flex;
    justify-content: center;
    gap: 4px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 21.5px 0;
    padding-right: 20px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);

    }    
    .cabecalho{
         padding: 10%;  
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}